@import "../../../assets/less/variables";

.login-form {
  display: flex;
  flex-flow: column;
  gap: 24px;
  padding: 12px;
  width: auto;
  background-color: @gray-3;
  border-radius: @border-radius-1;

  @media (min-width: @tablet-portrait) {
    padding: 24px;
    width: 25rem;
  }

  &__titles {
    &__item {
      &--lighter {
        font-weight: lighter;
      }
    }
  }

  &__error {
    color: @error;
    margin-bottom: 8px;
  }
}
